**/__pycache__/
.**
!.github
working
email_images/base/OpenSans-Regular.ttf
email_images/today/**
email_html/email_template_**
email_html/backup 5-1-21.html
notices/sheets-api-389117-34906b5fba7f.json
old
server/**.json
**.env
**.DS_Store
activities/gnpc.json
server/today.html
server/today.html
server/printable.html
server/today.html
test_files
TODO.md
email_html/scratch.html
